In [1]:
import pandas as pd

voter_df = pd.read_csv("../output/voting_members.csv")
alt_df = pd.read_csv("../output/alternative_outcomes_and_corpus.csv")
print(f'Voter df has length:{len(voter_df)}')
print(f'Alt df has length:{len(alt_df)}')

voter_df['date'] = pd.to_datetime(voter_df['Date'])
alt_df['date'] = pd.to_datetime(alt_df['date'])

voter_df['month'] = voter_df.date.dt.month
voter_df['year'] = voter_df.date.dt.year

alt_df['month'] = alt_df.date.dt.month
alt_df['year'] = alt_df.date.dt.year

print("="*50)
print("Voter DF")
print(voter_df['date'])

print("="*50)
print("Alt DF")
print(alt_df['date'])

distinct_dates = pd.concat([alt_df,voter_df],ignore_index=True,sort=True).drop_duplicates(subset=["month","year"],keep=False)

print("We have {} messed up dates".format(len(distinct_dates)))
print()
print(distinct_dates['date'])

Voter df has length:157
Alt df has length:168
==================================================
Voter DF
0     1988-01-05
1     1988-03-29
2     1988-05-17
3     1988-08-16
4     1988-09-20
5     1988-11-01
6     1989-03-28
7     1989-05-16
8     1989-08-22
9     1989-10-03
10    1989-11-14
11    1990-03-27
12    1990-05-15
13    1990-08-21
14    1990-10-02
15    1990-11-13
16    1990-12-18
17    1991-03-26
18    1991-05-14
19    1991-08-20
20    1991-10-01
21    1991-11-05
22    1991-12-17
23    1992-03-31
24    1992-05-19
25    1992-08-18
26    1992-10-06
27    1992-11-17
28    1992-12-22
29    1993-02-03
         ...
127   2005-05-03
128   2005-06-30
129   2005-08-09
130   2005-09-20
131   2005-11-01
132   2005-12-13
133   2006-01-31
134   2006-03-28
135   2006-05-10
136   2006-06-29
137   2006-08-08
138   2006-09-20
139   2006-10-25
140   2006-12-12
141   2007-01-31
142   2007-03-21
143   2007-05-09
144   2007-06-28
145   2007-08-07
146   2007-09-18
147   2007-10-31
148   2007-12-11
149   2008-01-30
150   2008-03-18
151   2008-04-30
152   2008-06-25
153   2008-08-05
154   2008-09-16
155   2008-10-29
156   2008-12-16
Name: date, Length: 157, dtype: datetime64[ns]
==================================================
Alt DF
0     1988-02-10
1     1988-03-29
2     1988-05-17
3     1988-06-30
4     1988-08-16
5     1988-09-20
6     1988-11-01
7     1988-12-14
8     1989-02-08
9     1989-03-28
10    1989-05-16
11    1989-07-06
12    1989-08-22
13    1989-10-03
14    1989-11-14
15    1989-12-19
16    1990-02-07
17    1990-03-27
18    1990-05-15
19    1990-07-03
20    1990-08-21
21    1990-10-02
22    1990-11-13
23    1990-12-18
24    1991-02-06
25    1991-03-26
26    1991-05-14
27    1991-07-03
28    1991-08-20
29    1991-10-01
         ...
138   2005-05-03
139   2005-06-30
140   2005-08-09
141   2005-09-20
142   2005-11-01
143   2005-12-13
144   2006-01-31
145   2006-03-28
146   2006-05-10
147   2006-06-29
148   2006-08-08
149   2006-09-20
150   2006-10-25
151   2006-12-12
152   2007-01-31
153   2007-03-21
154   2007-05-09
155   2007-06-28
156   2007-08-07
157   2007-09-18
158   2007-10-31
159   2007-12-11
160   2008-01-30
161   2008-03-18
162   2008-04-30
163   2008-06-25
164   2008-08-05
165   2008-09-16
166   2008-10-29
167   2008-12-16
Name: date, Length: 168, dtype: datetime64[ns]
We have 13 messed up dates

0     1988-02-10
3     1988-06-30
7     1988-12-14
8     1989-02-08
11    1989-07-06
15    1989-12-19
16    1990-02-07
19    1990-07-03
24    1991-02-06
27    1991-07-03
32    1992-02-05
35    1992-07-01
168   1988-01-05
Name: date, dtype: datetime64[ns]